link(rel="stylesheet" href="/css/funding.css")
.container
  .col-xs-12.col-sm-offset-1.col-sm-10
    include:markdown funding.md
    
    for image in public.funding.images._contents
      img(src="./images/#{ image }" class="img-responsive funding-pics")
