mixin publication(authors, title, journal, year, edition)
      li  
        p!= authors + ". \"" + title + ",\"" + " <strong><em>" + journal + "</em></strong>, " + year + ", " + edition + "."
        
link(rel="stylesheet" href="/css/papers.css")      

.container
  .col-xs-8.col-xs-offset-2
    h3 Publications
    h5: a(href="http://www.ncbi.nlm.nih.gov/pmc/?term=Neal Devaraj").
      Free access through Pub Med Central
      
    ol(reversed).papers
      for pub in publications
        +publication(pub.authors, pub.title, pub.journal, pub.year, pub.edition)
