link(rel="stylesheet" href="/css/joining.css")
.container
    .col-xs-12.col-sm-8
      include:markdown joining.md
      
    .col-xs-12.col-sm-4.applytolab
      a(class="btn btn-sm btn-primary btn-block" href="mailto:ndevaraj@ucsd.edu" role="button"): h4(style="color:white") Apply
      br
      p Please attach a resume or CV for all inquiries. 
      
