doctype
html
  head
    title #{ title }
    // Bootstrap -- Put all Bootstrap files here
    link(rel="stylesheet" href="/packages/bootstrap/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    
    //Custom stylesheets
    link(rel="stylesheet" href="/css/main.css")
    
    //Slick
    link(rel="stylesheet" type="text/css" href="/packages/slick/slick.css")
    link(rel="stylesheet" type="text/css" 
         href="/packages/slick/slick-theme.css")

  body
    != partial("_partials/navbar", navbar)
    != yield
    != partial("_partials/footer")
    
    script(text="text/javascript" src="/packages/slick/slick.min.js")
    script(text="text/javascript" src="/scripts/devaraj.js")
    
    
