.container
  
  // Latest news and about the lab
  .col-sm-4.col-xs-12
    h1(class="page-header") Hello

  // Research in focus
  .col-sm-4.col-xs-12
    
  // Selected publications
  .col-sm-4.col-xs-12
  
  
