nav(class='navbar navbar-default navbar-fixed-top')
  .container
    div(class='navbar-header')
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#sitepaths" )
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href=paths[0].url) Devaraj Lab
    
    div(class="collapse navbar-collapse", id="sitepaths")
      ul(class="nav navbar-nav navbar-right")
        for path in paths
          li: a(href=path.url)= path.name
